.buttons-container {
  display:flex;

}

.numbers-buttons {
  width: 75%;
}


.calculation-buttons {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.calculation-btn {
  color: white;
  background-color: crimson;
  border: 1px solid black;
  padding: 1rem;
  

}

.number-btn {
  width: 33%;
}

.action-button {
  width: 100%;
}
